openapi: 3.0.3
info:
  title: proxima-core-engine
  version: 0.1.2
servers:
- url: https://core.proximaai.co
paths:
  /api/aiapp/intent/:
    post:
      description: |-
        POST
        Classify Intent
      operationId: aiapp_intent_create
      responses:
        "200":
          description: No response body
      tags:
      - aiapp
  /api/aiapp/leadcategorization/:
    post:
      operationId: aiapp_leadcategorization_create
      responses:
        "200":
          description: No response body
      tags:
      - aiapp
  /api/aiapp/paraphrase/:
    post:
      description: |-
        POST
        Summarize a given context
      operationId: aiapp_paraphrase_create
      responses:
        "200":
          description: No response body
      tags:
      - aiapp
  /api/aiapp/sentimentanalysis/:
    post:
      operationId: aiapp_sentimentanalysis_create
      responses:
        "200":
          description: No response body
      tags:
      - aiapp
  /api/aiapp/summarize/:
    post:
      description: |-
        POST
        Summarize a given context
      operationId: aiapp_summarize_create
      responses:
        "200":
          description: No response body
      tags:
      - aiapp
  /api/aiapp/survey/:
    post:
      description: |-
        POST
        Summarize a given context
      operationId: aiapp_survey_create
      responses:
        "200":
          description: No response body
      tags:
      - aiapp
  /api/aiapp/translation/:
    post:
      operationId: aiapp_translation_create
      responses:
        "200":
          description: No response body
      tags:
      - aiapp
  /api/analytics/annual_groth_rate/:
    get:
      operationId: analytics_annual_groth_rate_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/averagecomments/:
    get:
      operationId: analytics_averagecomments_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/averagedistribution/:
    get:
      operationId: analytics_averagedistribution_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/averageresponsetime/:
    get:
      operationId: analytics_averageresponsetime_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/averagesurveyrunperiod/:
    get:
      operationId: analytics_averagesurveyrunperiod_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/averagevoicemessageperchat/:
    get:
      operationId: analytics_averagevoicemessageperchat_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/clientcitydistribution/:
    get:
      operationId: analytics_clientcitydistribution_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/clientdailysatisfaction/:
    get:
      operationId: analytics_clientdailysatisfaction_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/clientsatisfaction/:
    get:
      operationId: analytics_clientsatisfaction_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/clientsaverageage/:
    get:
      operationId: analytics_clientsaverageage_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/clientweeklysatisfaction/:
    get:
      operationId: analytics_clientweeklysatisfaction_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/commentsuserrelation/:
    get:
      operationId: analytics_commentsuserrelation_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/communicationchannels/:
    get:
      operationId: analytics_communicationchannels_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/communitygrowthrate/:
    get:
      operationId: analytics_communitygrowthrate_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/communitymembers/:
    get:
      operationId: analytics_communitymembers_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/communityrating/:
    get:
      operationId: analytics_communityrating_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/countchats/:
    get:
      operationId: analytics_countchats_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/countescalatedchats/:
    get:
      description: A view to count the number of escalated messages for a given tenant.
      operationId: analytics_countescalatedchats_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/counthourlychats/:
    get:
      operationId: analytics_counthourlychats_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/countrydistribution/:
    get:
      operationId: analytics_countrydistribution_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/cumulativecomments/:
    get:
      operationId: analytics_cumulativecomments_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/cumulativehourlychats/:
    get:
      operationId: analytics_cumulativehourlychats_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/cumulativeissues/:
    get:
      operationId: analytics_cumulativeissues_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/cumulativevoicemessage/:
    get:
      operationId: analytics_cumulativevoicemessage_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/dailyaverageresponserate/:
    get:
      operationId: analytics_dailyaverageresponserate_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/dailychatcount/:
    get:
      operationId: analytics_dailychatcount_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/dailyescalatedchats/:
    get:
      operationId: analytics_dailyescalatedchats_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/engagementfrequency/:
    get:
      operationId: analytics_engagementfrequency_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/genderdistribution/:
    get:
      operationId: analytics_genderdistribution_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/geolocation/:
    get:
      operationId: analytics_geolocation_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/hourlyaverageresponsetime/:
    get:
      operationId: analytics_hourlyaverageresponsetime_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/hourlyclientsatisfaction/:
    get:
      operationId: analytics_hourlyclientsatisfaction_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/hourlycountescalatedchats/:
    get:
      operationId: analytics_hourlycountescalatedchats_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/issueuserrelation/:
    get:
      operationId: analytics_issueuserrelation_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/leasttopics/:
    get:
      operationId: analytics_leasttopics_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/populartopics/:
    get:
      operationId: analytics_populartopics_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/statedistribution/:
    get:
      operationId: analytics_statedistribution_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/surveyaveragetargetaudience/:
    get:
      operationId: analytics_surveyaveragetargetaudience_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/surveyratings/:
    get:
      operationId: analytics_surveyratings_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/surveyresponserate/:
    get:
      operationId: analytics_surveyresponserate_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/totalsurveys/:
    get:
      operationId: analytics_totalsurveys_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/uniquecomments/:
    get:
      operationId: analytics_uniquecomments_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/usersegmentation/:
    get:
      operationId: analytics_usersegmentation_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/voive_messages_last_week/:
    get:
      operationId: analytics_voive_messages_last_week_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/voive_messages_lastday/:
    get:
      operationId: analytics_voive_messages_lastday_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/voive_messages_lasthour/:
    get:
      operationId: analytics_voive_messages_lasthour_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/weeklyaverageresponserate/:
    get:
      operationId: analytics_weeklyaverageresponserate_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/weeklychatcount/:
    get:
      operationId: analytics_weeklychatcount_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/analytics/weeklyescalatedchats/:
    get:
      operationId: analytics_weeklyescalatedchats_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - analytics
  /api/auth/admin/:
    post:
      description: This endpoint is to allow to allow an  admin user belonging to
        a tenant to be created
      operationId: auth_admin_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Admin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Admin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Admin'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Admin'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/adminverificationconfirmation/{uidb64}/:
    get:
      operationId: auth_adminverificationconfirmation_retrieve
      parameters:
      - explode: false
        in: path
        name: uidb64
        required: true
        schema:
          pattern: "^[-\\w]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetNewPassword'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/adminverificationrequest/:
    post:
      operationId: auth_adminverificationrequest_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordEmailRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ResetPasswordEmailRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ResetPasswordEmailRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordEmailRequest'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/anonymoususer/:
    delete:
      description: |-
        DELETE
        Remove a anonymoususer from the database.

        Params (all required):
        contact
      operationId: auth_anonymoususer_destroy
      responses:
        "204":
          description: No response body
      security:
      - {}
      tags:
      - auth
    get:
      description: |-
        GET
        Retrieve AnonymousUsers matching query.

        Params:
        contact
      operationId: auth_anonymoususer_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnonymousUser'
          description: ""
      security:
      - {}
      tags:
      - auth
    post:
      description: |-
        POST
        Add an anonymous user to the database.

        Params:
        - contact
      operationId: auth_anonymoususer_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnonymousUser'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AnonymousUser'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AnonymousUser'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnonymousUser'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/auth/google/:
    post:
      operationId: auth_auth_google_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLogin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UserLogin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UserLogin'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserLogin'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/client/:
    post:
      description: This endpoint is to allow to allow an  client user to be created
      operationId: auth_client_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Client'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Client'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Client'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/client_users_signup_signin/:
    post:
      operationId: auth_client_users_signup_signin_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLogin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UserLogin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UserLogin'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserLogin'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/clientverificationconfirmation/{uidb64}/:
    get:
      operationId: auth_clientverificationconfirmation_retrieve
      parameters:
      - explode: false
        in: path
        name: uidb64
        required: true
        schema:
          pattern: "^[-\\w]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetNewPassword'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/clientverificationrequest/:
    post:
      operationId: auth_clientverificationrequest_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordEmailRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ResetPasswordEmailRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ResetPasswordEmailRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordEmailRequest'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/employee/:
    post:
      description: This endpoint is to allow to allow an  employee user belonging
        to a tenant to be created
      operationId: auth_employee_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Employee'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Employee'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Employee'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/employeeverificationconfirmation/{uidb64}/:
    get:
      operationId: auth_employeeverificationconfirmation_retrieve
      parameters:
      - explode: false
        in: path
        name: uidb64
        required: true
        schema:
          pattern: "^[-\\w]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetNewPassword'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/employeeverificationrequest/:
    post:
      operationId: auth_employeeverificationrequest_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordEmailRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ResetPasswordEmailRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ResetPasswordEmailRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordEmailRequest'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/inviteusers/:
    post:
      operationId: auth_inviteusers_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteEmployees'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InviteEmployees'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/InviteEmployees'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteEmployees'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/password-reset-complete/:
    patch:
      operationId: auth_password_reset_complete_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedSetNewPassword'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedSetNewPassword'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedSetNewPassword'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetNewPassword'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/password-reset/{uidb64}/{token}/:
    get:
      operationId: auth_password_reset_retrieve
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          pattern: "^[-\\w]+$"
          type: string
        style: simple
      - explode: false
        in: path
        name: uidb64
        required: true
        schema:
          pattern: "^[-\\w]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetNewPassword'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/requestlogintoken/:
    post:
      description: This endpoint is to allow to allow users to enter thei emails so
        that they can receive a login token which they will be able to login with
      operationId: auth_requestlogintoken_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordEmailRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ResetPasswordEmailRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ResetPasswordEmailRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordEmailRequest'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/requestpasswordtoken/:
    post:
      description: "This endpoint is to allow to  a user request a one time token\
        \ so that they are able to reset their passwords, the token is sent to their\
        \ mails"
      operationId: auth_requestpasswordtoken_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordEmailRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ResetPasswordEmailRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ResetPasswordEmailRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordEmailRequest'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/requestresetpassowrd/:
    post:
      description: "This endpoint is to allow to  a user request a one time token\
        \ so that they are able to reset their passwords, the token is sent to their\
        \ mails"
      operationId: auth_requestresetpassowrd_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordEmailRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ResetPasswordEmailRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ResetPasswordEmailRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordEmailRequest'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/signin/:
    post:
      operationId: auth_signin_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLogin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UserLogin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UserLogin'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserLogin'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/tokenlogin/:
    post:
      description: "This endpoint is to allow to allow a user to verify their tokens,\
        \ during login when sennt out to their mails"
      operationId: auth_tokenlogin_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenLogin'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TokenLogin'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TokenLogin'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenLogin'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/tokenpasswordchange/:
    post:
      description: This endpoint is to allow to a user to verify the tokens that was
        sent out to their mails
      operationId: auth_tokenpasswordchange_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenSetNewPassword'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TokenSetNewPassword'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TokenSetNewPassword'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenSetNewPassword'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/tokensignin/:
    patch:
      operationId: auth_tokensignin_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedSetNewPassword'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedSetNewPassword'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedSetNewPassword'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetNewPassword'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/tokensigninconfirmation/{uidb64}/:
    post:
      operationId: auth_tokensigninconfirmation_create
      parameters:
      - explode: false
        in: path
        name: uidb64
        required: true
        schema:
          pattern: "^[-\\w]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordEmailRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ResetPasswordEmailRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ResetPasswordEmailRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordEmailRequest'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/tokensigninrequest/:
    get:
      operationId: auth_tokensigninrequest_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetNewPassword'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/tokenverification/:
    post:
      description: "This endpoint is to allow to allow a user to verify their tokens,\
        \ during registration when sennt out to their mails"
      operationId: auth_tokenverification_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerification'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmailVerification'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmailVerification'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailVerification'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/unverifiedusers/:
    get:
      operationId: auth_unverifiedusers_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUnverifiedUsersList'
          description: ""
      tags:
      - auth
  /api/auth/verifyinvitedusers/:
    post:
      description: This endpoint is to allow an invited user to verify their token
        that was triggered when admin invited them to use the platform
      operationId: auth_verifyinvitedusers_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyUsersToken'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/VerifyUsersToken'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/VerifyUsersToken'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyUsersToken'
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/call/analytics/call-resolution-analytics/:
    get:
      description: |-
        GET
        Params:
        tenant_id
        start_date
        end_date
      operationId: call_analytics_call_resolution_analytics_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - call
  /api/call/analytics/call-tag-analytics/:
    get:
      description: |-
        GET
        Params:
        tenant_id
        tag_id
        start_date
        end_date
      operationId: call_analytics_call_tag_analytics_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - call
  /api/call/analytics/call-volume-analytics/:
    get:
      description: |-
        GET
        Params:
        tenant_id
      operationId: call_analytics_call_volume_analytics_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - call
  /api/call/analytics/customer-satisfaction-analytics/:
    get:
      description: |-
        GET
        Params:
        tenant_id
        start_date
        end_date
      operationId: call_analytics_customer_satisfaction_analytics_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - call
  /api/call/analytics/feedback-category-distribution/:
    get:
      description: |-
        GET
        Params:
        tenant_id
        start_date
        end_date
      operationId: call_analytics_feedback_category_distribution_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - call
  /api/call/analytics/interaction-type-analytics/:
    get:
      description: |-
        GET
        Params:
        tenant_id
        start_date
        end_date
      operationId: call_analytics_interaction_type_analytics_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - call
  /api/call/call/agent-performance/:
    delete:
      description: |-
        DELETE
        Params (all required):
        agent_performance_id
      operationId: call_call_agent_performance_destroy
      responses:
        "204":
          description: No response body
      tags:
      - call
    get:
      description: |2-
                GET
                Retrieve agent_performances matching query.

                Params:
                agent_performance_id
                tenant_id
        =
      operationId: call_call_agent_performance_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPerformance'
          description: ""
      tags:
      - call
    patch:
      description: |-
        PATCH
        Update a chat instance.

        Params:
        agent_performance_id
      operationId: call_call_agent_performance_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedAgentPerformance'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedAgentPerformance'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedAgentPerformance'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPerformance'
          description: ""
      tags:
      - call
    post:
      description: |-
        POST

        Params:
        agent_performance_id
      operationId: call_call_agent_performance_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentPerformance'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AgentPerformance'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AgentPerformance'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPerformance'
          description: ""
      tags:
      - call
  /api/call/call/call-metrics/:
    delete:
      description: |-
        DELETE
        Params (all required):
        call_metrics_id
      operationId: call_call_call_metrics_destroy
      responses:
        "204":
          description: No response body
      tags:
      - call
    get:
      description: |2-
                GET
                Retrieve CallMetricss matching query.

                Params:
                call_metrics_id
        =
      operationId: call_call_call_metrics_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallMetrics'
          description: ""
      tags:
      - call
    patch:
      description: |-
        PATCH
        Update a chat instance.

        Params:
        call_metrics_id
      operationId: call_call_call_metrics_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedCallMetrics'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedCallMetrics'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedCallMetrics'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallMetrics'
          description: ""
      tags:
      - call
    post:
      description: |-
        POST
        Add a Chat to the database.

        Params:
        call_metrics_id
      operationId: call_call_call_metrics_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallMetrics'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CallMetrics'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CallMetrics'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallMetrics'
          description: ""
      tags:
      - call
  /api/call/call/call-resolution/:
    delete:
      description: |-
        DELETE
        Params (all required):
        call_resolution_id
      operationId: call_call_call_resolution_destroy
      responses:
        "204":
          description: No response body
      tags:
      - call
    get:
      description: |2-
                GET
                Retrieve call_resolutions matching query.

                Params:
                call_resolution_id
        =
      operationId: call_call_call_resolution_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResolution'
          description: ""
      tags:
      - call
    patch:
      description: |-
        PATCH
        Update a chat instance.

        Params:
        call_resolution_id
      operationId: call_call_call_resolution_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedCallResolution'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedCallResolution'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedCallResolution'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResolution'
          description: ""
      tags:
      - call
    post:
      description: |-
        POST
        Add a Chat to the database.

        Params:
        call_resolution_id
      operationId: call_call_call_resolution_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallResolution'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CallResolution'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CallResolution'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResolution'
          description: ""
      tags:
      - call
  /api/call/call/call-tag/:
    delete:
      description: |-
        DELETE
        Delete a CallTag.

        Params (all required):
        name
      operationId: call_call_call_tag_destroy
      responses:
        "204":
          description: No response body
      tags:
      - call
    get:
      description: |-
        GET
        Retrieve call tags matching query.
      operationId: call_call_call_tag_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallTag'
          description: ""
      tags:
      - call
    post:
      description: |-
        POST
        Add a CallTag to the database.
      operationId: call_call_call_tag_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallTag'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CallTag'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CallTag'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallTag'
          description: ""
      tags:
      - call
  /api/call/call/call-tag-mapping/:
    delete:
      description: |-
        DELETE
        Delete a CallTagMapping.

        Params (all required):
        call_id, tag_id
      operationId: call_call_call_tag_mapping_destroy
      responses:
        "204":
          description: No response body
      tags:
      - call
    get:
      description: |-
        GET
        Retrieve call tag mappings matching query.

        Params:
        call_id, tag_id
      operationId: call_call_call_tag_mapping_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallTagMapping'
          description: ""
      tags:
      - call
    post:
      description: |-
        POST
        Create a CallTagMapping.
      operationId: call_call_call_tag_mapping_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallTagMapping'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CallTagMapping'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CallTagMapping'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallTagMapping'
          description: ""
      tags:
      - call
  /api/call/call/calls/:
    delete:
      description: |-
        DELETE
        Params (all required):
        call_id
      operationId: call_call_calls_destroy
      responses:
        "204":
          description: No response body
      tags:
      - call
    get:
      description: |2-
                GET
                Retrieve calls matching query.

                Params:
                call_id
        =
      operationId: call_call_calls_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
          description: ""
      tags:
      - call
    patch:
      description: |-
        PATCH
        Update a chat instance.

        Params:
        call_id
      operationId: call_call_calls_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedCall'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedCall'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedCall'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
          description: ""
      tags:
      - call
    post:
      description: |-
        POST
        Params:
        call_id
      operationId: call_call_calls_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Call'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Call'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Call'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
          description: ""
      tags:
      - call
  /api/call/call/customer-feedback/:
    delete:
      description: |-
        DELETE
        Params (all required):
        customer_feedback_id
      operationId: call_call_customer_feedback_destroy
      responses:
        "204":
          description: No response body
      tags:
      - call
    get:
      description: |2-
                GET
                Retrieve customer_feedbacks matching query.

                Params:
                customer_feedback_id
        =
      operationId: call_call_customer_feedback_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerFeedback'
          description: ""
      tags:
      - call
    patch:
      description: |-
        PATCH
        Update a chat instance.

        Params:
        customer_feedback_id
      operationId: call_call_customer_feedback_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedCustomerFeedback'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedCustomerFeedback'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedCustomerFeedback'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerFeedback'
          description: ""
      tags:
      - call
    post:
      description: |-
        POST
        Add a Chat to the database.

        Params:
        customer_feedback_id
      operationId: call_call_customer_feedback_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerFeedback'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerFeedback'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CustomerFeedback'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerFeedback'
          description: ""
      tags:
      - call
  /api/call/call/interaction-history/:
    delete:
      description: |-
        DELETE
        Params (all required):
        interaction_history_id
      operationId: call_call_interaction_history_destroy
      responses:
        "204":
          description: No response body
      tags:
      - call
    get:
      description: |2-
                GET
                Retrieve interaction_historys matching query.

                Params:
                interaction_history_id
        =
      operationId: call_call_interaction_history_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionHistory'
          description: ""
      tags:
      - call
    patch:
      description: |-
        PATCH
        Update a chat instance.

        Params:
        interaction_history_id
      operationId: call_call_interaction_history_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedInteractionHistory'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedInteractionHistory'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedInteractionHistory'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionHistory'
          description: ""
      tags:
      - call
    post:
      description: |-
        POST
        Add a Chat to the database.

        Params:
        interaction_history_id
      operationId: call_call_interaction_history_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InteractionHistory'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InteractionHistory'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/InteractionHistory'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionHistory'
          description: ""
      tags:
      - call
  /api/chat/category/:
    get:
      description: |-
        GET
        Retrieve Category matching query.

        Params:
        tenant_id
      operationId: chat_category_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
          description: ""
      tags:
      - chat
    post:
      description: POST
      operationId: chat_category_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Category'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Category'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Category'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
          description: ""
      tags:
      - chat
    put:
      description: |-
        PUT
        Update Category instance

        Params:
        category_id
      operationId: chat_category_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Category'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Category'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Category'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
          description: ""
      tags:
      - chat
  /api/chat/chat/:
    delete:
      description: |-
        DELETE
        Remove a chat from the database.

        Params (all required):
        chat_id
      operationId: chat_chat_destroy
      responses:
        "204":
          description: No response body
      tags:
      - chat
    get:
      description: |-
        GET
        Retrieve Chats matching query.
        Params:
        chat_id
        tenant
        chat_owner
        anonymous_user
      operationId: chat_chat_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
          description: ""
      tags:
      - chat
    patch:
      description: |-
        PATCH
        Update a chat instance.

        Params:
        chat_id
      operationId: chat_chat_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedChat'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedChat'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedChat'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
          description: ""
      tags:
      - chat
    post:
      description: |-
        POST
        Add a Chat to the database.

        Params:
        chat_id
        tenant_id
        tenant_name
      operationId: chat_chat_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Chat'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Chat'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Chat'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
          description: ""
      tags:
      - chat
  /api/chat/escalated_chats/:
    get:
      description: |-
        GET
        Retrieve Tenants Escalated chats
        Params:
        tenant
      operationId: chat_escalated_chats_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
          description: ""
      security:
      - {}
      tags:
      - chat
  /api/chat/message/:
    delete:
      description: |-
        DELETE
        Remove a chat from the database.

        Params (all required):
        message_id
        chat_id
      operationId: chat_message_destroy
      responses:
        "204":
          description: No response body
      tags:
      - chat
    get:
      description: |-
        GET
        Retrieve Messages matching query.

        Params:
        message_id
        chat_id
      operationId: chat_message_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
          description: ""
      tags:
      - chat
    patch:
      description: |-
        PATCH
        Update a chat instance.

        Params:
        message_id
      operationId: chat_message_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedMessage'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedMessage'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedMessage'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
          description: ""
      tags:
      - chat
    post:
      description: |-
        POST
        Add a Chat to the database.

        Params:
        message_id
        chat_id
      operationId: chat_message_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Message'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Message'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
          description: ""
      tags:
      - chat
  /api/chat/topics/:
    get:
      description: |-
        GET
        Retrieve InteractionTopics matching query.

        Params:
        tenant_id
      operationId: chat_topics_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionTopics'
          description: ""
      tags:
      - chat
    post:
      description: POST
      operationId: chat_topics_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InteractionTopics'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InteractionTopics'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/InteractionTopics'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionTopics'
          description: ""
      tags:
      - chat
    put:
      description: |-
        PUT
        Update InteractionTopics matching topic_id.

        Params:
        tenant_id
        guest_client
        description
        category
      operationId: chat_topics_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InteractionTopics'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InteractionTopics'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/InteractionTopics'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionTopics'
          description: ""
      tags:
      - chat
  /api/community/clientleftcommunity/:
    get:
      operationId: community_clientleftcommunity_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: ""
      tags:
      - community
  /api/community/comment/:
    delete:
      description: |-
        DELETE
        Remove a comment from the database.
        comment_id
        thread
      operationId: community_comment_destroy
      responses:
        "204":
          description: No response body
      tags:
      - community
    get:
      description: |-
        GET
        Retrieve Comments matching query.

        Params:
        comment_id
        thread
        client
      operationId: community_comment_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
          description: ""
      tags:
      - community
    post:
      description: |-
        POST
        Add client comment

        Params:
        comment_id
        thread
      operationId: community_comment_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Comment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Comment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Comment'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
          description: ""
      tags:
      - community
  /api/community/community/:
    get:
      description: |-
        GET
        Retrieve community members matching query if parameters are passed.
        Return all community members if no parameters are passed.

        Params:
        community_id
        tenant_id
      operationId: community_community_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Community'
          description: ""
      tags:
      - community
  /api/community/communityfeed/:
    get:
      description: Mixin for applying DRF's pagination.
      operationId: community_communityfeed_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityFeed'
          description: ""
      tags:
      - community
  /api/community/communitymembers/:
    get:
      operationId: community_communitymembers_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Community'
          description: ""
      tags:
      - community
  /api/community/communitytags/:
    get:
      description: Communitys API View
      operationId: community_communitytags_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityTag'
          description: ""
      tags:
      - community
    post:
      description: |-
        POST
        Add a community_tag to the database.

        Params:
        community_tag_id
        community_id
      operationId: community_communitytags_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommunityTag'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CommunityTag'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CommunityTag'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityTag'
          description: ""
      tags:
      - community
  /api/community/favoritecommunities/:
    get:
      operationId: community_favoritecommunities_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteCommunitiesClient'
          description: ""
      tags:
      - community
    post:
      operationId: community_favoritecommunities_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FavoriteCommunitiesClient'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FavoriteCommunitiesClient'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FavoriteCommunitiesClient'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FavoriteCommunitiesClient'
          description: ""
      tags:
      - community
  /api/community/issue/:
    get:
      description: |-
        GET
        Retrieve Communitys matching query.

        Params:
        issue_id
        community_id
        client_id
        unauthenticated_client
      operationId: community_issue_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
          description: ""
      tags:
      - community
    patch:
      description: |-
        PATCH

        Params:
        issue_id
      operationId: community_issue_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedIssue'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedIssue'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedIssue'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
          description: ""
      tags:
      - community
    post:
      description: |-
        POST
        Add a issue to the database.

        Params:
        issue_id
        community_id
      operationId: community_issue_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Issue'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Issue'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Issue'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
          description: ""
      tags:
      - community
    put:
      description: |-
        PUT
        Update an existing issue.

        Params:
        issue_id: The ID of the issue to update.
      operationId: community_issue_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Issue'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Issue'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Issue'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
          description: ""
      tags:
      - community
  /api/community/joincommunity/:
    post:
      operationId: community_joincommunity_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JoinCommunity'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/JoinCommunity'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/JoinCommunity'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JoinCommunity'
          description: ""
      tags:
      - community
  /api/community/joinedmembers/:
    get:
      operationId: community_joinedmembers_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: ""
      security:
      - {}
      tags:
      - community
  /api/community/leavecommunity/:
    post:
      operationId: community_leavecommunity_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaveCommunity'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LeaveCommunity'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/LeaveCommunity'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaveCommunity'
          description: ""
      tags:
      - community
  /api/community/likeordislikecomment/:
    post:
      operationId: community_likeordislikecomment_create
      responses:
        "200":
          description: No response body
      tags:
      - community
  /api/community/thread/:
    get:
      description: |-
        GET
        Retrieve Threads matching query.

        Params:
        thread_id
        issue
      operationId: community_thread_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thread'
          description: ""
      tags:
      - community
    post:
      description: |-
        POST
        Add a thread to the database.

        Params:
        thread_id
        issue
      operationId: community_thread_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Thread'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Thread'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Thread'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thread'
          description: ""
      tags:
      - community
  /api/monitoring/connectors/:
    get:
      operationId: monitoring_connectors_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - monitoring
  /api/notifications/delegation/:
    delete:
      description: Mixin for applying DRF's pagination.
      operationId: notifications_delegation_destroy
      responses:
        "204":
          description: No response body
      tags:
      - notifications
    get:
      description: |-
        GET
        Retrieve Delegations matching query.
        Params:
        delegation_id
        tenant_id
        employee
        admin_id
      operationId: notifications_delegation_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delegation'
          description: ""
      tags:
      - notifications
    patch:
      description: |-
        PATCH
        Update a delegation instance.

        Params:
        delegation_id
      operationId: notifications_delegation_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedDelegation'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedDelegation'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedDelegation'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delegation'
          description: ""
      tags:
      - notifications
    post:
      description: |-
        POST
        Add a Delegation to the database.

        Params:
        delegation_id
        tenant_id
        employee_id
        admin_id
        assigned_issue
        assigned_chat
        assigned_service
      operationId: notifications_delegation_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Delegation'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Delegation'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Delegation'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delegation'
          description: ""
      tags:
      - notifications
  /api/notifications/notifications/:
    delete:
      description: notifications_id
      operationId: notifications_notifications_destroy
      responses:
        "204":
          description: No response body
      tags:
      - notifications
    get:
      description: |-
        GET
        Params:
        employee
        admin
        read
        notifications_id
      operationId: notifications_notifications_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notifications'
          description: ""
      tags:
      - notifications
    patch:
      description: |-
        PATCH
        Update a chat instance.

        Params:
        notifications_id
      operationId: notifications_notifications_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedNotifications'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedNotifications'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedNotifications'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notifications'
          description: ""
      tags:
      - notifications
  /api/payments/freetrial/:
    post:
      operationId: payments_freetrial_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FreeTrialEnroll'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FreeTrialEnroll'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FreeTrialEnroll'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FreeTrialEnroll'
          description: ""
      security:
      - {}
      tags:
      - payments
  /api/payments/getpayments/:
    get:
      description: |-
        GET
        Retrieve Tenants Subscription paymets history

        Params:
        id
      operationId: payments_getpayments_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
          description: ""
      tags:
      - payments
  /api/payments/subscription/:
    get:
      description: |-
        GET
        Retrieve Tenant matching query.

        Params:
        tenant
      operationId: payments_subscription_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: ""
      tags:
      - payments
  /api/payments/tabularpayments/:
    get:
      operationId: payments_tabularpayments_retrieve
      responses:
        "200":
          description: No response body
      security:
      - {}
      tags:
      - payments
  /api/payments/tiers/:
    get:
      operationId: payments_tiers_list
      parameters:
      - description: Number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The initial index from which to return the results.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTierList'
          description: ""
      security:
      - {}
      tags:
      - payments
  /api/payments/update_subscription/{id}/:
    post:
      operationId: payments_update_subscription_create
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: ^\d+$
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscription'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Subscription'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Subscription'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: ""
      tags:
      - payments
  /api/predictive/escalatedchats/:
    get:
      description: |-
        GET
        Retrieve EscalatedChatsss matching query.

        Params:
        escalated_chats_id
        tenant
        date
      operationId: predictive_escalatedchats_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - predictive
  /api/predictive/genderdistribution/:
    get:
      description: |-
        GET
        Retrieve GenderDistributionss matching query.

        Params:
        gender_distribution_id
        tenant
        date
      operationId: predictive_genderdistribution_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - predictive
  /api/predictive/growthrate/:
    get:
      description: |-
        GET
        Retrieve GrowthRatess matching query.

        Params:
        growth_rate_id
        tenant
        date
      operationId: predictive_growthrate_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - predictive
  /api/predictive/interactions/:
    get:
      description: |-
        GET
        Retrieve interactionss matching query.

        Params:
        interactions_id
        tenant
        date
      operationId: predictive_interactions_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - predictive
  /api/predictive/involvements/:
    get:
      description: |-
        GET
        Retrieve Involvementss matching query.

        Params:
        involvements_id
        tenant
        date
      operationId: predictive_involvements_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - predictive
  /api/predictive/topics/:
    get:
      description: |-
        GET
        Retrieve topics matching query.

        Params:
        topics_id
        tenant
        date
      operationId: predictive_topics_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - predictive
  /api/predictive/uniqueclients/:
    get:
      description: |-
        GET
        Retrieve UniqueClientsss matching query.

        Params:
        unique_clients_id
        tenant
        date
      operationId: predictive_uniqueclients_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - predictive
  /api/reports/chatresports/:
    get:
      description: |-
        GET
        Retrieve Tenant Chat reports

        Params:
        tenant_id
      operationId: reports_chatresports_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - reports
  /api/reports/issuesreports/:
    get:
      description: |-
        GET
        Retrieve Issues Reports

        Params:
        community_id
      operationId: reports_issuesreports_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - reports
  /api/reports/messagereports/:
    get:
      operationId: reports_messagereports_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - reports
  /api/reports/surverreports/:
    get:
      description: |-
        GET
        Retrieve survey reports

        Params:
        tenant_id
      operationId: reports_surverreports_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - reports
  /api/reports/surverresponserate/:
    get:
      description: |-
        GET
        Retrieve Survey Response id

        Params:
        survey_id
      operationId: reports_surverresponserate_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - reports
  /api/reports/threadreports/:
    get:
      description: |-
        GET
        Retrieve Threads reports

        Params:
        thread_id
      operationId: reports_threadreports_retrieve
      responses:
        "200":
          description: No response body
      tags:
      - reports
  /api/schema/:
    get:
      description: |-
        OpenApi3 schema for this API. Format can be selected via content negotiation.

        - YAML: application/vnd.oai.openapi
        - JSON: application/vnd.oai.openapi+json
      operationId: schema_retrieve
      parameters:
      - explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - yaml
          type: string
        style: form
      - explode: true
        in: query
        name: lang
        required: false
        schema:
          enum:
          - af
          - ar
          - ar-dz
          - ast
          - az
          - be
          - bg
          - bn
          - br
          - bs
          - ca
          - ckb
          - cs
          - cy
          - da
          - de
          - dsb
          - el
          - en
          - en-au
          - en-gb
          - eo
          - es
          - es-ar
          - es-co
          - es-mx
          - es-ni
          - es-ve
          - et
          - eu
          - fa
          - fi
          - fr
          - fy
          - ga
          - gd
          - gl
          - he
          - hi
          - hr
          - hsb
          - hu
          - hy
          - ia
          - id
          - ig
          - io
          - is
          - it
          - ja
          - ka
          - kab
          - kk
          - km
          - kn
          - ko
          - ky
          - lb
          - lt
          - lv
          - mk
          - ml
          - mn
          - mr
          - ms
          - my
          - nb
          - ne
          - nl
          - nn
          - os
          - pa
          - pl
          - pt
          - pt-br
          - ro
          - ru
          - sk
          - sl
          - sq
          - sr
          - sr-latn
          - sv
          - sw
          - ta
          - te
          - tg
          - th
          - tk
          - tr
          - tt
          - udm
          - uk
          - ur
          - uz
          - vi
          - zh-hans
          - zh-hant
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.oai.openapi:
              schema:
                additionalProperties: {}
                type: object
            application/yaml:
              schema:
                additionalProperties: {}
                type: object
            application/vnd.oai.openapi+json:
              schema:
                additionalProperties: {}
                type: object
            application/json:
              schema:
                additionalProperties: {}
                type: object
          description: ""
      security:
      - {}
      tags:
      - schema
  /api/search/search/:
    get:
      operationId: search_search_retrieve
      responses:
        "200":
          description: No response body
      security:
      - {}
      tags:
      - search
  /api/services/serviceforms/:
    delete:
      description: Mixin for applying DRF's pagination.
      operationId: services_serviceforms_destroy
      responses:
        "204":
          description: No response body
      tags:
      - services
    get:
      description: Mixin for applying DRF's pagination.
      operationId: services_serviceforms_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceForms'
          description: ""
      tags:
      - services
    patch:
      description: Mixin for applying DRF's pagination.
      operationId: services_serviceforms_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedServiceForms'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedServiceForms'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedServiceForms'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceForms'
          description: ""
      tags:
      - services
    post:
      description: Mixin for applying DRF's pagination.
      operationId: services_serviceforms_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceForms'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ServiceForms'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ServiceForms'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceForms'
          description: ""
      tags:
      - services
  /api/services/serviceformsresponse/:
    delete:
      description: Mixin for applying DRF's pagination.
      operationId: services_serviceformsresponse_destroy
      responses:
        "204":
          description: No response body
      tags:
      - services
    get:
      description: |-
        GET
        Retrieve Service Form Responses

        Params:
        service_form_response_id
        service_form
        client
        unauthenticated_user
      operationId: services_serviceformsresponse_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFormsResponse'
          description: ""
      tags:
      - services
    patch:
      description: Mixin for applying DRF's pagination.
      operationId: services_serviceformsresponse_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedServiceFormsResponse'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedServiceFormsResponse'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedServiceFormsResponse'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFormsResponse'
          description: ""
      tags:
      - services
    post:
      description: Mixin for applying DRF's pagination.
      operationId: services_serviceformsresponse_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceFormsResponse'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ServiceFormsResponse'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ServiceFormsResponse'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceFormsResponse'
          description: ""
      tags:
      - services
  /api/services/servicerequestchat/:
    get:
      description: |-
        GET
        Params:
        service_request_message_id
      operationId: services_servicerequestchat_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMessageChat'
          description: ""
      tags:
      - services
    post:
      description: Mixin for applying DRF's pagination.
      operationId: services_servicerequestchat_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceMessageChat'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ServiceMessageChat'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ServiceMessageChat'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMessageChat'
          description: ""
      tags:
      - services
  /api/services/servicerequestchatmessage/:
    get:
      description: |-
        GET
        Params:
        service_request_chat_id
      operationId: services_servicerequestchatmessage_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceRequestChat'
          description: ""
      tags:
      - services
    post:
      description: Mixin for applying DRF's pagination.
      operationId: services_servicerequestchatmessage_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequestChat'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ServiceRequestChat'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ServiceRequestChat'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceRequestChat'
          description: ""
      tags:
      - services
  /api/services/serviceresquest/:
    delete:
      description: Mixin for applying DRF's pagination.
      operationId: services_serviceresquest_destroy
      responses:
        "204":
          description: No response body
      tags:
      - services
    get:
      description: Mixin for applying DRF's pagination.
      operationId: services_serviceresquest_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceRequest'
          description: ""
      tags:
      - services
    patch:
      description: Mixin for applying DRF's pagination.
      operationId: services_serviceresquest_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedServiceRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedServiceRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedServiceRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceRequest'
          description: ""
      tags:
      - services
    post:
      description: Mixin for applying DRF's pagination.
      operationId: services_serviceresquest_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ServiceRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ServiceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceRequest'
          description: ""
      tags:
      - services
  /api/services/services/:
    delete:
      description: Mixin for applying DRF's pagination.
      operationId: services_services_destroy
      responses:
        "204":
          description: No response body
      tags:
      - services
    get:
      description: |-
        GET
        Retrieve Services

        Params:
        tenant_id
      operationId: services_services_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: ""
      tags:
      - services
    patch:
      description: |-
        PATCH
        Update a service instance.

        Params:
        service_id
      operationId: services_services_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedService'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedService'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedService'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: ""
      tags:
      - services
    post:
      description: Mixin for applying DRF's pagination.
      operationId: services_services_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Service'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Service'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Service'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: ""
      tags:
      - services
  /api/services/servicetype/:
    delete:
      description: Mixin for applying DRF's pagination.
      operationId: services_servicetype_destroy
      responses:
        "204":
          description: No response body
      tags:
      - services
    get:
      description: Mixin for applying DRF's pagination.
      operationId: services_servicetype_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceType'
          description: ""
      tags:
      - services
    post:
      description: Mixin for applying DRF's pagination.
      operationId: services_servicetype_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceType'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ServiceType'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ServiceType'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceType'
          description: ""
      tags:
      - services
  /api/socialintergrations/facebookintergration/:
    get:
      operationId: socialintergrations_facebookintergration_retrieve
      responses:
        "200":
          description: No response body
      security:
      - {}
      tags:
      - socialintergrations
    post:
      operationId: socialintergrations_facebookintergration_create
      responses:
        "200":
          description: No response body
      security:
      - {}
      tags:
      - socialintergrations
  /api/socialintergrations/instagramintergration/:
    get:
      operationId: socialintergrations_instagramintergration_retrieve
      responses:
        "200":
          description: No response body
      security:
      - {}
      tags:
      - socialintergrations
    post:
      operationId: socialintergrations_instagramintergration_create
      responses:
        "200":
          description: No response body
      security:
      - {}
      tags:
      - socialintergrations
  /api/socialintergrations/proximawhatsappintergration/:
    get:
      operationId: socialintergrations_proximawhatsappintergration_retrieve
      responses:
        "200":
          description: No response body
      security:
      - {}
      tags:
      - socialintergrations
    post:
      operationId: socialintergrations_proximawhatsappintergration_create
      responses:
        "200":
          description: No response body
      security:
      - {}
      tags:
      - socialintergrations
  /api/socialintergrations/savefacebookintergration/:
    get:
      description: |-
        GET
        Retrieve Chats matching query.

        Params:
        facebook_intergration_id
        tenant_id
        api_token
      operationId: socialintergrations_savefacebookintergration_retrieve
      responses:
        "200":
          description: No response body
      security:
      - {}
      tags:
      - socialintergrations
    post:
      description: |-
        POST
        facebook_intergration_id
        tenant_id
        api_token
[...]
